.git
**/.DS_Store
**/bin
**/obj
**/node_modules
**/dist
**/test-results
**/*.tsbuildinfo
**/.env*
**/.postgres.env
**/appsettings.Local.json
**/.data-protection
api/tests
portal/.dockerignore
docs
tools
